/.idea/workspace.xml
/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
*aep
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.DS_Store

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/replstate.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

bower_components
resources/docs/eganimation_narrated\ v2.pptx
resources/docs/animation/private
*~
.#*
~*
